button.slick-next::before {
  background-color: black;
  content: "\276F";
  font-size: 40px;
  padding: 15px 15px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.slick-prev::before {
  background-color: black;
  content: "\276E";
  font-size: 40px;
  padding: 15px 15px 15px 15px;
  display: flex;
  /* margin-right: 20px; */
  justify-content: center;
  align-items: center;
}
